body, html {
    height: 300vh;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "home" "resume" "aboutMe" "browserGame" "footnote";
}

#home-container {
    grid-area: home;
    display: grid;
    grid-template-rows: 25% 10% auto;
    grid-template-areas: "top" "nav-line" "bot";
}
#home-top {
    display: flex;
    grid-area: top;
    background-color: #73c3bb;
    justify-content: space-around;
    flex-direction: column;
}

.home-body {
    grid-area: bot;
    display: flex;
    background-color: #B2DFDB;
    background-image: url(/img/vecteezy_vector-background-with-mountains-nature-mountain-in-green_8277939.jpg);
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 25% auto 25%;
    grid-template-areas: "left mid right"; */
}

#placeholder {
    border-radius: 8px;
    height: 300px;
    margin: 10px;
}

#nav-bar {
    grid-area: nav-line;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    background-color: #00796B;
}

.moving-nav {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-around;
    background-color: #00796B;
}

#resume-container {
    grid-area: resume;
}

#about-me-container {
    grid-area: aboutMe;
    background-color: #B2DFDB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

#abme-block {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    margin: 25px;
    border-radius: 8px;
    padding: 50px;
    min-width: 300px;
    width: 30%;
    height: 25%;
}

#browser-game-container {
    grid-area: browserGame;
}

#footnote{
    height: 50px;
    background-color: antiquewhite;
    position: fixed;
    bottom: 0;
}